.App-Login {
  border: 0.2rem solid;
  border-radius: 2%;
  padding: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-delay {
  transition-delay: 1s;
  transition-property: background-color font-size transform color;
  transition-timing-function: ease-in-out;
}

.contacts-container {
  height: 120vh;
}

.carousel {
  width: 100%;
  max-height: min-content;
  background-color: #343a40;
}

.leaflet-container {
  width: 100%;
  height: 40vh;
}

.back-ground {
  background-color: #343a40;
  display:inline-block;
  margin: auto;
  justify-content: center;
  width: 100%;
  margin-top: 78px;
}

.main-content {
  width: 70%;
  margin: auto;
  background-color: white;
}

.App-Login Button {
  margin-top: 1rem;
}

.filters-container {
  margin-left: 10%;
  margin-right: 10%;
}

.search-input {
  max-width: 70%;
}

.App-Login-Group {
  margin-top: 1rem;
}

.item-card {
  margin: 0.5em;
  width: 20em;
  border: 0.1rem solid;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
}

.item-card button {
  margin: 0.3em;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-left span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-left button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.card-buttons button {
  margin: 0.3em;
}

.item-container {
  justify-items: center;
}

.box {
  display: flex;
  flex-direction: row;
}

.box-button {
  display: flex;
  flex-direction: row-reverse;
}

.modal-box {
  display: flex;
  flex-direction: row;
}

.modal-container {
}

.comment-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.add-comment-box {
  margin-top: 1em;
  margin-bottom: 1em;
}

.comment {
  margin: 0;
  padding: 0.2em;
  margin: 0.2em;
  margin-bottom: 0.5em;
  border: 0.1rem solid;
}

.description {
  margin-top: 1em;
}

.comment p {
  margin: 0;
}

.comment hr {
  margin: 0.1em;
}

.descrip {
  margin-top: 1em;
}

.img-m {
  position: relative;
  max-width: 100%;
}

.data {
  margin-top: 0.7em;
}

.img-sm {
  width: 10em;
  padding: 0;
  margin: 0.7em;
}

.nav-link-text {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

.weather-card p {
  margin: 0;
}

.weather-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item-card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spinner {
  margin: auto;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.nav-bar {
  background-color: lightblue;
  height: 4em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
.paging {
  display: flex;
  justify-content: center;
}

.nav-bar Button {
  margin: 0.5em;
}

.nav-bar p {
  margin: 0.5em;
  font-size: 1.5em;
  color: antiquewhite;
}

.dashboard h1 {
  margin-left: 1em;
  margin-top: 1em;
}

.item-container {
  min-height: 580px;
}

.spinner-main {
  padding: 5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  justify-content: space-evenly;
  top: 50%;
}
